
@media (max-width: 760px) and (min-width:480px){

  .carousel-inner img {
    height: 60.1vh;
    width: 100%;
  }
  
  .contenedorTitulo {
    width: 78%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .contenedorTitulo h1 {
    font-size: 63px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  
  
  
  .navegacion {
    width: 476px;
    margin: 30px auto;
    background-color: black;
    /* menu fijo*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .navegacion ul {
    list-style: none;
  }
  
  .menu > li {
    background-color: white;
    position: relative;
    display: inline-block;
  }
  
  .menu > li > a {
    display: block;
    padding: 15px 20px;
    color: black;
    font-size: 13.5px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .menu li:hover .subMenu {
    display: block;
  }
  
  
  
  .texto {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
    .imagenes {
      flex-direction: column;
      width: 60%;
      height: 850px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    
    .imagenes .img1 {
      width: 58%;
      height: 270px;
      background-color: grey;
      background: url(../img/2.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    .imagenes .img2 {
      width: 58%;
      height: 270px;
      background-color: grey;
      background: url(../img/3.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    .imagenes .img3 {
      width: 58%;
      height: 270px;
      background-color: grey;
      background: url(../img/4.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
  
    /* BLOG */
  
    .contenedorImgBlog {
      width: 100%;
      height: 60.1vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url(../img/3.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    /* PREGUNTAS */
  
    .contenedorImgPreguntas {
      width: 100%;
      height: 60.1vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url(../img/dunder-Mifflin-building-the-office-where-location.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
  
    /*PRECIOS*/
  
    .flexContainerPrecios{
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      justify-content: center;
    }
  
    .containerPreciosTotal{
      display: flex;
      width: 100%;
      height: 2000px;
      justify-content: center;
    }
  
    .contenedorPrecios{
      display: none;
      width: 100%;
      height: 200px;
      color: white;
      background-color: orange;
      justify-content: center;
      align-items: flex-start;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .menuPrecios{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100px;
      justify-content: center;
      align-items: center;
      gap: 75px;
  
  }
  
  .menuPrecios div{
      display: flex;
      width: 50%;
      height: 600px;
      background-color: rgb(255, 255, 255);
      color: black;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      text-align: center;
      
  }
  
  .menuPrecios div ul li{
     padding: 5px;
  }
  
  .footerPrecios {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 42vh;
    background-color: grey;
  }
  
  footer h6 {
    padding-bottom: 10px;
  }
  
  .footerPrecios {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 40vh;
    background-color: grey;
  }
  
  footer h6 {
    padding-bottom: 10px;
  }
  }